<div class="wrapper-filter">
  <div class="row">
    <div class="col">
      Tipo de filtro: <br>
      <mat-radio-group [formControl]="typeFilter" >
        <!--<mat-radio-button value="0">Sin filtros</mat-radio-button>-->
        <!--<br>-->
        <mat-radio-button value="1">Solo mostrar el documento legal mas reciente</mat-radio-button>
        <br>
        <mat-radio-button value="2">Definir otros filtros</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <form class="d-none" [formGroup]="frmFilter" id="frmFilter"  [ngClass]="{'d-block': typeFilter.value==2}">

    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Documentos:" formControlName="documents" multiple>
            <mat-option *ngFor="let item of documentsCatalog" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="Tipos de documento:" formControlName="typesDocument"  multiple>
            <mat-option *ngFor="let item of typesDocumentsCatalog" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-select placeholder="A favor de:"   formControlName="owners" multiple>
            <mat-option *ngFor="let item of ownersCatalog" [value]="item">{{item.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button >Submit</button>
      </div>
    </div>

  </form>

</div>

