<div class="wrapper-filter">

  <mat-form-field>
    <mat-select placeholder="Documentos:" [formControl]="documentsSelected" multiple>
      <mat-option *ngFor="let item of documentsCatalog" [value]="item.id">{{item.description}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Tipos de documento:" [formControl]="typesDocumentsSelected" multiple>
      <mat-option *ngFor="let item of typesDocumentsCatalog" [value]="item.id">{{item.description}}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-select placeholder="A favor de:" [formControl]="ownersSelected" multiple>
      <mat-option *ngFor="let item of ownersCatalog" [value]="item.id">{{item.description}}</mat-option>
    </mat-select>
  </mat-form-field>


  <br>
  <button mat-raised-button color="primary" style="float: right">Filtrar</button>
</div>

