<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon (click)="toggleSidebar()"   class="cursor-pointer g-grey-light lighten-2 md-light">menu</mat-icon>
    <span> Vehicles</span>
    <span class="example-spacer"></span>
    <mat-icon [matMenuTriggerFor]="mnuColumns">more_vert</mat-icon>

    <mat-menu #mnuColumns="matMenu">
      <button *ngFor="let column of settingsColumnsService.allColumns" mat-menu-item>
        <mat-checkbox [checked]="settingsColumnsService.settingsDisplayedColumns.get(column).visible"
                      (change)="settingsColumnsService.toggleColumn($event, column)">{{
          settingsColumnsService.settingsDisplayedColumns.get(column).title}}
        </mat-checkbox>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav   mode="side">Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <app-table-vehicles></app-table-vehicles>
  </mat-sidenav-content>
</mat-sidenav-container>




















<!--<mat-menu #menu="matMenu">-->
<!--<button mat-menu-item>-->
<!--<mat-icon>dialpad</mat-icon>-->
<!--<span>Redial</span>-->
<!--</button>-->
<!--<button mat-menu-item disabled>-->
<!--<mat-icon>voicemail</mat-icon>-->
<!--<span>Check voicemail</span>-->
<!--</button>-->
<!--<button mat-menu-item>-->
<!--<mat-icon>notifications_off</mat-icon>-->
<!--<span>Disable alerts</span>-->
<!--</button>-->
<!--</mat-menu>-->
